body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.banner {
  background-image: url("../src/assets/background2.jpg");
  background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
  text-shadow:
    -1.5px -1.5px 0 #000,
    1.5px -1.5px 0 #000,
    -1.5px 1.5px 0 #000,
    1.5px 1.5px 0 #000;
	position: relative;
	height: 100%;
	border-radius: 10px;
	overflow: hidden;
	width: 1080px;
	max-width: 100%;
	min-height: 700px;
}

.banner h1 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile {
  background-color: #FFFFFF;
	color: black;
	height: 100%;
	border-radius: 10px;
	overflow: hidden;
	width: 1080px;
	max-width: 100%;
	min-height: 700px;
  text-align: left;
}
.profile h1{
  padding: 2rem;
  margin: auto;
  display: block;
}
.profile section {
  border-style: solid;
  border-color: #000;
  border-radius: 10px;
  text-align: left;
  padding: 1rem;
  width: 90%;
  margin: 0 auto;
  display: block;
}

.profile section * {
  color: black;
  font-family: 'Montserrat';
  font-size: 1.5rem;
}

div {
  padding: 1rem;
}