.Dashboard{
    /* padding-top: 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color:darkviolet;
    font-size: 50px;
}

.Dashboard h1{
    color:rgba(121, 248, 248, 0.836);
    margin-top:10vh;
}

.Dashboard h2{
    font-size: 30px;
}

.Dashboard h3{
    font-size: 24px;
    color:indigo;
}