
.CurrentParties h1 {
    font-weight: bolder;
    font-size: 30px;
}

#root {
    margin: 300px;
}

.CurrentParties {
    background-color: white;
}

.CurrentParties .tables-container {
    margin: auto;
    width: 90%;
    display: flexbox;
    flex-wrap: wrap;
}

.CurrentParties .miniTable {
    padding: 15px;
}

.CurrentParties .miniTable .raidinfo {
    font-weight: bolder;
    font-size: 20px;
}
